<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>艾翁</string>
		<key>color</key>
		<string>fa4040</string>
	</dict>
	<dict>
		<key>title</key>
		<string>克烈</string>
		<key>color</key>
		<string>fd563b</string>
	</dict>
	<dict>
		<key>title</key>
		<string>塔莉亚</string>
		<key>color</key>
		<string>282e29</string>
	</dict>
	<dict>
		<key>title</key>
		<string>奥瑞利安·索尔</string>
		<key>color</key>
		<string>CC0000</string>
	</dict>
	<dict>
		<key>title</key>
		<string>烬</string>
		<key>color</key>
		<string>FD613A</string>
	</dict>
	<dict>
		<key>title</key>
		<string>俄洛伊</string>
		<key>color</key>
		<string>B1B1B1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>千珏</string>
		<key>color</key>
		<string>787878</string>
	</dict>
	<dict>
		<key>title</key>
		<string>塔姆</string>
		<key>color</key>
		<string>3E3D3D</string>
	</dict>
	<dict>
		<key>title</key>
		<string>艾克</string>
		<key>color</key>
		<string>CC6600</string>
	</dict>
	<dict>
		<key>title</key>
		<string>巴德</string>
		<key>color</key>
		<string>CCFF00</string>
	</dict>
	<dict>
		<key>title</key>
		<string>雷克塞</string>
		<key>color</key>
		<string>EDEBEA</string>
	</dict>
	<dict>
		<key>title</key>
		<string>卡莉丝塔</string>
		<key>color</key>
		<string>989799</string>
	</dict>
	<dict>
		<key>title</key>
		<string>阿兹尔</string>
		<key>color</key>
		<string>69A5EC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>纳尔</string>
		<key>color</key>
		<string>444343</string>
	</dict>
	<dict>
		<key>title</key>
		<string>布隆</string>
		<key>color</key>
		<string>fd563b</string>
	</dict>
	<dict>
		<key>title</key>
		<string>维克兹</string>
		<key>color</key>
		<string>f2472c</string>
	</dict>
	<dict>
		<key>title</key>
		<string>亚索</string>
		<key>color</key>
		<string>3300FF</string>
	</dict>
	<dict>
		<key>title</key>
		<string>这个是什么，粘贴错了</string>
		<key>color</key>
		<string>797979</string>
	</dict>
	<dict>
		<key>title</key>
		<string>卢锡安</string>
		<key>color</key>
		<string>737272</string>
	</dict>
	<dict>
		<key>title</key>
		<string>亚托克斯</string>
		<key>color</key>
		<string>CC99FF</string>
	</dict>
	<dict>
		<key>title</key>
		<string>丽桑卓</string>
		<key>color</key>
		<string>484747</string>
	</dict>
	<dict>
		<key>title</key>
		<string>扎克</string>
		<key>color</key>
		<string>C5C5C5</string>
	</dict>
	<dict>
		<key>title</key>
		<string>奎因</string>
		<key>color</key>
		<string>FE7B5D</string>
	</dict>
	<dict>
		<key>title</key>
		<string>锤石</string>
		<key>color</key>
		<string>737171</string>
	</dict>
	<dict>
		<key>title</key>
		<string>蔚</string>
		<key>color</key>
		<string>CC6600</string>
	</dict>
	<dict>
		<key>title</key>
		<string>娜美</string>
		<key>color</key>
		<string>B0ADAD</string>
	</dict>
	<dict>
		<key>title</key>
		<string>劫</string>
		<key>color</key>
		<string>FF6850</string>
	</dict>
	<dict>
		<key>title</key>
		<string>伊莉丝</string>
		<key>color</key>
		<string>CCCC33</string>
	</dict>
	<dict>
		<key>title</key>
		<string>卡兹克</string>
		<key>color</key>
		<string>CCCC00</string>
	</dict>
	<dict>
		<key>title</key>
		<string>辛德拉</string>
		<key>color</key>
		<string>CC99FF</string>
	</dict>
	<dict>
		<key>title</key>
		<string>雷恩加尔</string>
		<key>color</key>
		<string>CC99CC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>黛安娜</string>
		<key>color</key>
		<string>CC9999</string>
	</dict>
	<dict>
		<key>title</key>
		<string>婕拉</string>
		<key>color</key>
		<string>CC9966</string>
	</dict>
	<dict>
		<key>title</key>
		<string>杰斯</string>
		<key>color</key>
		<string>CC9933</string>
	</dict>
	<dict>
		<key>title</key>
		<string>德莱文</string>
		<key>color</key>
		<string>FFCC33</string>
	</dict>
	<dict>
		<key>title</key>
		<string>德莱厄斯</string>
		<key>color</key>
		<string>FF99FF</string>
	</dict>
	<dict>
		<key>title</key>
		<string>韦鲁斯</string>
		<key>color</key>
		<string>FF99CC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>赫卡里姆</string>
		<key>color</key>
		<string>FF9966</string>
	</dict>
	<dict>
		<key>title</key>
		<string>璐璐</string>
		<key>color</key>
		<string>FF9900</string>
	</dict>
	<dict>
		<key>title</key>
		<string>菲奥娜</string>
		<key>color</key>
		<string>FF66CC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>诺提勒斯</string>
		<key>color</key>
		<string>FF6666</string>
	</dict>
	<dict>
		<key>title</key>
		<string>吉格斯</string>
		<key>color</key>
		<string>66CCFF</string>
	</dict>
	<dict>
		<key>title</key>
		<string>瑟庄妮</string>
		<key>color</key>
		<string>66CC66</string>
	</dict>
	<dict>
		<key>title</key>
		<string>维克托</string>
		<key>color</key>
		<string>666666</string>
	</dict>
	<dict>
		<key>title</key>
		<string>阿狸</string>
		<key>color</key>
		<string>663333</string>
	</dict>
	<dict>
		<key>title</key>
		<string>沃利贝尔</string>
		<key>color</key>
		<string>6600FF</string>
	</dict>
	<dict>
		<key>title</key>
		<string>菲兹</string>
		<key>color</key>
		<string>3300FF</string>
	</dict>
	<dict>
		<key>title</key>
		<string>希瓦娜</string>
		<key>color</key>
		<string>CC6600</string>
	</dict>
	<dict>
		<key>title</key>
		<string>格雷福斯</string>
		<key>color</key>
		<string>CCFF00</string>
	</dict>
	<dict>
		<key>title</key>
		<string>泽拉斯</string>
		<key>color</key>
		<string>CC0000</string>
	</dict>
	<dict>
		<key>title</key>
		<string>锐雯</string>
		<key>color</key>
		<string>FFCCFF</string>
	</dict>
</array>
</plist>
